html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
body {
	background-color: lightgray;
}
/* Navigation Section */
.top-navigation {
	background-color: #fff;

}
.top-navigation .links {
	float: right;
	font-family: 'Roboto', sans-serif;
	font-size: 25px;
	color: #838994;
	margin-top: -40px;
	letter-spacing: 0.03em;
	-webkit-font-smoothing: antialiased;
}
.top-navigation > .content {
	width: 970px;
	height: 4.375rem;
	line-height: 6;
	padding: 0px 15px;
}
.top-navigation .links li {
	display: inline-block;
	margin-left: 25px;
}
.top-navigation .links > .active {
	color: #a6a6a6;
	font-weight: 500;
}
/* hover link */
a:hover {
	color: #000000;
	animation: inherit;
}
a {
	color: gray;
	text-decoration: none;
}
.intro img {
	background-repeat: no-repeat;
	background-size: cover;
	overflow: auto;

}