html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
body {
	background-color: white;
	font-family: 'Roboto', sans-serif;
}
/* Navigation Section */
.top-navigation {
	background-color: #fff;
	position: fixed;
	width: 100%;
	z-index: 9999;

}
.top-navigation .links {
	float: right;
	font-size: 25px;
	color: #838994;
	letter-spacing: 0.03em;
	-webkit-font-smoothing: antialiased;
}
.top-navigation > .content {
	margin: auto;
	padding: 0 15px;
}
.top-navigation > .content > img {
	padding: 1rem 0;
	margin-left: 145px;
}
.top-navigation .links li {
	display: inline-block;
	margin-left: 25px;
}
.top-navigation .links > .active {
	color: #a6a6a6;
	font-weight: 500;
}
/* hover link */
a:hover {
	color: #000000;
	animation: inherit;
}
a {
	color: gray;
	text-decoration: none;
}
/* intro section */
.intro {
	background-image: url(../photos/first-background.jpg);
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
	height: 693px;
}

.intro .content {
	text-align: center;
	color: white;
	padding:16rem 0;
}
h1 {
	font-size: 50px;
	font-weight: 100;
	margin-bottom: 0;
}
h3 {
	font-size: 26px;
	font-weight: 100;	
	margin-top: 10px;
}
button {
	color: white;
	background-color: #f15a29;
	border-color: #f15a29;
	border-style: none;
	border-radius: 4px;
	width: 147px;
	padding: 18px;
	font-weight: 100;
	font-size: 18px;
}
button:hover {
	background-color: #ff7401;
	cursor: cell;
}
/* devices section */
.devices {
	text-align: center;
}
ul {
	list-style: none;
}
.devices h1 {
	font-size: 43px;
	padding-top: 52px;
	padding-bottom: 22px;
}
.caption {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-bottom: 62px;
}
.devices .caption > li {
	width: 20.3%;
}
.devices .caption .captions h2 {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 24px;
}
/* footer */
.social {
	padding-bottom: 120px;
}
.social hr {
	border: 0;
	border-top: 1px solid;
	border-top-color: #eaebec;
	margin: 0 300px;
}
.social h1 {
	font-size: 19px;
	padding: 10px 0;
}
.social .icons {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-right: 33px;
	padding-bottom: 20px;
}
.social ul li{
	border: 2px solid black;
	border-radius: 40px 40px;
	height: 50px;
	width: 50px;
	border-color: #eaebec;
}
.fa-lg {
	padding: 15px 0;
}
.social li {
	margin: 0 5px;
}
.twitter {
	color: #55acee;
}
.facebook {
	color: #4c66a4;
}
.instagram {
	color: #3f729b;
}
.copy {
	font-size: 15px;
	font-family: 'Roboto' sans-serif;
	font-weight: 100;
}





























