html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
body {
	background-color: lightgray;
	font-family: 'Roboto', sans-serif;
}
/* Navigation Section */
.top-navigation {
	background-color: #fff;

}
.top-navigation .links {
	float: right;
	font-size: 25px;
	color: #838994;
	letter-spacing: 0.03em;
	-webkit-font-smoothing: antialiased;
}
.top-navigation > .content {
	width: 970px;
	height: 4.375rem;
	padding: 0 15px;
}
.top-navigation > .content > img {
	padding: 1rem 0;
}
.top-navigation .links li {
	display: inline-block;
	margin-left: 25px;
}
.top-navigation .links > .active {
	color: #a6a6a6;
	font-weight: 500;
}
/* hover link */
a:hover {
	color: #000000;
	animation: inherit;
}
a {
	color: gray;
	text-decoration: none;
}
.intro {
	background-image: url(../photos/first-background.jpg);
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
	height: 580px;
}

.intro .content {
	text-align: center;
	color: white;
	padding:10rem 0;
}
h1 {
	font-size: 50px;
	font-weight: 100;
	margin-bottom: 0;
}
h3 {
	font-size: 26px;
	font-weight: 100;	
	margin-top: 10px;
}
button {
	color: white;
	background-color: #f15a29;
	border-color: #f15a29;
	border-style: none;
	border-radius: 4px;
	width: 147px;
	padding: 18px;
	font-weight: 100;
	font-size: 18px;
}
button:hover {
	background-color: #ff7401;
	cursor: cell;
}